ion-header{
    ion-title{
        ion-icon{
            position: relative;
            top: 2px;
            margin-right: 5px;
        }
    }
}

ion-content{
    text-align: center;
    --background: #fafafa;

    #item-actions{
        margin: 0px 0 0;
        display: flex;
        justify-content: space-between;
        box-shadow: 0px 0px 4px #888;
        padding-bottom:0px;
        background: #fff;

        ion-button{
            margin: 0 15px;
            font-size: 13px;
            border: none;
            --border-width: 0;
            text-transform: none;
            ion-icon{
                margin-right: 5px;
            }
        }

    }

    #sequence-description{
        margin: 40px auto 20px;
        font-size: 20px;
        font-weight: bold;
        color: #0098de;
    }

    #sequence-pictograms{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        flex-direction: row;
        max-width: 900px;
        width: 100%;
        margin: 0 auto 40px;
        
        .sequence-pictogram{
            padding: 10px;
            background: #fff;
            margin: auto;
            width: 30%;
            margin: 20px 3.33%;
            align-self:flex-start;
            margin: 0 auto 30px;
            min-height: 250px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: solid 2px #666;
            border-radius: 30px;
            img{
                margin-bottom: 10px;
            }

            .pictogram-description{
                padding: 0 15px 20px;
                color: #424242;
            }
        }
    }
}


@media only screen  and (max-width:700px) {
    ion-content{
        #sequence-pictograms{
            .sequence-pictogram{
                width: 40%;
                margin: 20px 2.5%;
            }
        }
    }
}

@media only screen  and (max-width:500px) {
    ion-content{
        #sequence-pictograms{
            .sequence-pictogram{
                width: 70%;
                margin: 20px 15%;
            }
        }
    }
}